@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap');
body{
    font-family: 'Poppins', sans-serif;
    margin: 0;
}
     /*------------- 
    Full Banner Part 
    ---------------*/

.banner{
    display: flex;
    padding: 10% 20%;
    align-items: center;
    justify-content: space-between;
    background-color: #2D25A0;

}
.banner-info h1{
    font-size: 64px;
    color: white;
}
.banner-info a{
    text-decoration: none;
    padding: 10px 24px;
     color: white;
    background-color: #E02C6D;
    
}
.banner-info a:hover{
    animation-name: color;
    animation-duration: 4s;
}


@keyframes color {
    from {background-color: #E02C6D;}
    to {background-color: rgb(198, 252, 6);}
  }

.banner-image img{   
    width: 556px;
    height: 438px;
}
    /*------------- 
       Player Info 
    ---------------*/
.players{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin: 5% 20%;
    grid-gap: 30px;
}
.player{
    box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.15);
    margin-right: 10%;
    padding: 3%;
}

.player img{
    width: 300px;
    height: 256px;
    transition: transform .2s;   
}
.player img:hover {
    transform: scale(1.07); 
}

/*----------------
    All News
 --------------*/
 .news-info{
     padding-left: 20%;
 }
 .all-news{
     display: grid;
     grid-template-columns: repeat(3, 1fr);
     grid-gap: 3%;
     padding: 2% 20%; 
 }
 .news{
    border-radius: 20px; 
    box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.15); 
    padding-left: 4%;
    padding-top: 4%;
    padding-bottom: 25px;
 }
 .all-news img{
     width: 330px;
     height: 230px;
     border-radius: 20px; 

 }
 .news a{
     text-decoration: none;
     color: #E02C6D;
     
 }
    /*------------- 
        Highlight
    ---------------*/
.highlight{
    display: flex;
    padding: 5% 20%;
    align-items: center;
    justify-content: space-between;
}
.highlight-info a{
    text-decoration: none;
    padding: 10px 24px;
    color: white;
    background-color: #E02C6D;
}
.highlight-info h1{
    font-size: 48px;
}
.highlight-info article{
    margin-bottom: 40px;
}

.highlight-img img{
    width: 567px;
    height: 427px;  
}

/* More */
.more{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 50px;
    padding: 0 20%;
    margin-bottom: 5%;
    
}
.more-detail{
    display: flex;
    align-items: center;
    
}
.more-image img{
    margin-right: 20px;
}
/*------------- 
      Footer 
---------------*/
.football{
    text-align: center;
}
.football img{
    width: 483px;
    height: 110px;
}
.fab{
    color: #969BAB;
    padding: 10px;
}
.football p{
    font-size: 18px;
}
    /*------------- 
       Using Media 
    ---------------*/

@media only screen and (max-width: 668px) {
    .container{
        width: 100%;
    }
    /* Banner */
    .banner {
      display: flex;
      flex-direction: column;
  
      }
      .banner-info h1{
        font-size: 36px;
      }
    .banner-image img{
        margin-top: 50px;
        width: 329px;
        height: 259px;
    }
    /*------------- 
          Player 
    ---------------*/

    .players{
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        margin: 4%;
        margin: 0 5%;
    }
    .player{
        padding: 20px 20px 20px 20px;
        margin: 1% 0 0 0;   
       
    }
     /*------------- 
          Highlight 
    ---------------*/

    .highlight-info h1{
        font-size:30px;
    }
    .highlight{
        display: flex;
        flex-direction: column;
        
    }
    .highlight-img img{
        width: 328px;
        height: 248px;
        margin-top: 50px;
    }
    /* More */
    .more-detail{
        display: flex;
        flex-direction: column;
    }
    /*------------- 
          Footer
    ---------------*/
    .football img{
        width: 300px;
        height: 79px;           
    }      
  }
  /* For Tablet devices */
  @media only screen and (min-width: 669px) and (max-width: 992px){
      .container{
          width: 100%;
      }
      /* Banner */
      .banner {
        display: flex;
        flex-direction: column;
    
        }
        .banner-info h1{
            font-size: 30px;
          }
        .banner-image img{
            margin-top: 50px;
            width: 429px;
            height: 359px;
        }
        /*------------- 
          Player 
    ---------------*/
    .players{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        
        margin: 0 1%;
    }
        /*------------- 
          Highlight 
    ---------------*/
    .highlight-info h1{
        font-size:30px;
    }
    .highlight{
        display: flex;
        flex-direction: column;
        
    }
    .highlight-img img{
        width: 428px;
        height: 348px;
        margin-top: 50px;
    }
        /* More */
    .more-detail{
        display: flex;
        flex-direction: column;
    }

  }